/* 深色模式 */
@media (prefers-color-scheme: dark) {
  .login-container {
    background-image: none !important;
    background-color: #1a1a1a !important;
    color: #ffffff;
  }

  .login-container .login-panel .qq-icon-font {
    background: #ffffff9f !important;
  }

  .password-container__input-area .q-input,
  .password-container__input-area .password .input,
  .password-container__input-area .password .input.focus {
    border-radius: 8px !important;
    background: #ffffff21 !important;
    color: #ffffff !important;
  }

  /* 右键菜单颜色 */
  #qContextMenu .q-context-menu-item {
    color: white;
  }

  /* 添加模糊 */
  .msg-content-container,
  .normal-file,
  .forward-ops .op-icon,
  .radio-tab,
  .sys-notify-card,
  .chat-input-area {
    backdrop-filter: brightness(140%) saturate(120%) blur(8px);
  }

  .chat-input-area {
    background: #2121213f;
  }

  .side-panel {
    backdrop-filter: brightness(110%) saturate(120%) blur(32px);
    box-shadow: 0 4px 6px 0px rgb(0 0 0 / 5%);
    background: #1717179f !important;
  }

  .list-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .search-result,
  .q-popover,
  .user-card-main,
  .account-list {
    backdrop-filter: brightness(160%) saturate(120%) blur(8px);
    background: #1717179f !important;
    border-radius: 8px !important;
  }

  .file-list-normal-sort,
  .file-list-normal-sort-title {
    background: var(--overlay_top);
    margin-bottom: 16px;
    border-radius: 8px;
  }

  .favorites-layout__left-area,
  .login-container,
  .sidebar,
  .setting-main,
  .setting-tab {
    background-color: #1a1a1a !important;
  }
}
