/* 浅色模式 */
@media (prefers-color-scheme: light) {
  .password-container__input-area .q-input,
  .password-container__input-area .password .input,
  .password-container__input-area .password .input.focus {
    border-radius: 8px !important;
    background: #00000021 !important;
  }

  /* 右键菜单颜色 */
  #qContextMenu .q-context-menu-item {
    color: rgba(0, 0, 0, 0.8);
  }

  /* 添加模糊 */
  .msg-content-container,
  .normal-file,
  .forward-ops .op-icon,
  .radio-tab,
  .sys-notify-card,
  .chat-input-area {
    backdrop-filter: brightness(140%) saturate(120%) blur(8px);
  }

  .chat-input-area {
    background: #2121213f;
  }

  .side-panel {
    backdrop-filter: brightness(110%) saturate(120%) blur(32px);
    box-shadow: 0 4px 6px 0px rgb(0 0 0 / 5%);
    background: #1717179f !important;
  }

  .list-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
