/* 列表条目圆角 */
.viewport-list__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

/* 消息列表项圆角 */
.list-item {
  border-radius: 16px;
}

/* 右键菜单和多选按钮 */
.q-context-menu,
.q-button {
  backdrop-filter: brightness(100%) saturate(120%) blur(8px);
  border-radius: 8px;
}

#qContextMenu {
  background: none !important;
}

/* 登陆界面 */
.password-container__input-area .q-input__inner,
.password-container__input-area .password {
  background: none !important;
}

.auto-login .avatar {
  box-shadow: 0px 4px 28px 0px #cb82beaf !important;
}

/* 历史记录搜索 */
.record-msg .msg-content-container {
  background: none !important;
  backdrop-filter: none !important;
}

.q-input__inner:focus {
  border-radius: 8px !important;
}

.qq-icon-font {
  height: auto;
  width: 64px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 0px;
  border-radius: 8px;
  transform: none !important;
}
