/* 设置背景图片与效果 */
#app::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: var(--test-theme-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* 删除背景 */
.sidebar,
.tab-container,
.recent-contact,
.viewport-list__inner,
.contact,
.tab-header,
.radio-tab,
.q-collapse-item>.q-collapse-item__header,
.msg-content-container,
.normal-file,
.forward-ops .op-icon,
.sys-notify,
.sys-notify-card {
    background: initial !important;
}


/* 列表条目圆角 */
.viewport-list__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.list-item {
    border-radius: 16px;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.group-chat {
    display: initial !important;
}

.chat-msg-area {
    overflow: initial !important;
}

.chat-msg-area .list-wrap {
    padding-bottom: calc(150px + 20px);
}

.chat-input-area {
    border-radius: 16px;
    margin: 20px;
    top: calc(var(--inputAreaHeight) * -1 + -40px);
    z-index: 9;
}


/* 浅色模式 */
@media (prefers-color-scheme: light) {

    /* 添加模糊 */
    .sidebar,
    .msg-content-container,
    .normal-file,
    .forward-ops .op-icon,
    .radio-tab,
    .sys-notify-card,
    .chat-input-area {
        backdrop-filter: brightness(90%) saturate(120%) blur(8px);
    }
}


/* 深色模式 */
@media (prefers-color-scheme: dark) {

    /* 添加模糊 */
    .sidebar,
    .msg-content-container,
    .normal-file,
    .forward-ops .op-icon,
    .radio-tab,
    .sys-notify-card,
    .chat-input-area {
        backdrop-filter: brightness(110%) saturate(120%) blur(8px);
    }
}