/* 自动登陆时头像 */
.auto-login .avatar {
  box-shadow: 0px 4px 28px 0px #cb82beaf !important;
}

/* qq标志 */
.qq-icon-font {
  height: auto;
  width: 64px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 0px;
  border-radius: 8px;
  transform: none !important;
}

/* 更多选项菜单 */
#moreChooseMenu {
  border-radius: 8px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: brightness(94%) saturate(120%) blur(8px);
}

/* 输入框圆角 */
.password-container__input-area .q-input,
.password-container__input-area .input {
  border-radius: 8px !important;
}

@media (prefers-color-scheme: dark) {
  /* 背景 */
  .login-container {
    background: #1a1a1a !important;
  }

  /* 请使用手机QQ扫码 */
  .login-container .login-panel .process-text {
    color: rgba(255, 255, 255, 0.9);
  }

  /* QQ标志 */
  .login-container .login-panel .qq-icon-font {
    background: #ffffff9f !important;
  }

  /* 账户密码登陆 */
  .password-container__input-area .q-input__inner::-webkit-input-placeholder,
  .password-container__input-area .password .input_inner::before {
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .password-container__input-area .q-input .q-input__inner,
  .password-container__input-area .password .input.focus {
    background: rgb(191, 191, 191);
  }

  /* 更多选项 */
  #moreChooseMenu a {
    color: rgba(255, 255, 255, 0.85);
  }

  /* 自动登陆名字 */
  .auto-login .name span {
    color: white;
  }

  /* 更多账户 */
  .account-list {
    background: rgb(191, 191, 191) !important;
  }
}
