/* 搜索和用户信息/群组信息 */
.search-result,
.q-popover {
  backdrop-filter: brightness(160%) saturate(120%) blur(8px);
  border-radius: 8px !important;
}

@media (prefers-color-scheme: light) {
  .search-result,
  .q-popover {
    background: #ffffff9f !important;
  }
}

@media (prefers-color-scheme: dark) {
  .search-result,
  .q-popover {
    background: #1717179f !important;
  }
}

/* 去除聊天界面的边框 */
.chat-header {
  border: none !important;
}

/* 隐藏游戏中心 */
.sidebar__nav .nav-item:last-child {
  display: none !important;
}
