/* 去除背景 */
.recent-contact {
  background: none !important;
}

/* 消息列表项分隔 */
.recent-contact .viewport-list__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

/* 消息列表项圆角 */
.recent-contact .viewport-list__inner .list-item {
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  /* 消息列表项悬浮 */
  .list-item:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

@media (prefers-color-scheme: dark) {
  /* 消息列表项悬浮 */
  .list-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
